<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GRAN CLASE</title>
</head>
<body>

    <h5>{{fecha}}</h5>

    <h1>Bienvenidos a mi primera pagina WEB</h1>

    <h2>HOLIIIIII</h2>

    <p>A ver para que sirve esto....</p>

    <h2 style= "color:blue">El mejor estudiante es {{nombre}} </h2>

    <h2 style = "color:aqua"> Su nota es {{nota}}</h2>

    <h1>LOS SIMPATICOS SON: </h1> <br>

    {% for estu in estudiantes %}

        {%if estu == "Pepe"%}

            <p style = "color:blueviolet">Pepe</p>

        {%else%}

            <p>{{estu}}</p>
        {%endif%}
        
    {% endfor %}

</body>
</html>